<div class='row'>
  <div class='col-lg-12'>
    <div class='page-header text-center'>
      <h1>BootGrad</h1>
      <p class="lead">BootGrad is an open platform for collecting and analyzing data about technology bootcamps and code schools.<br> Our goal is to answer the questions, <em>"Which bootcamp should I attend?"</em> and <em>"What the hell happens after I graduate?"</em></p>
      <h3>Track. Share. Compare.</h3>
    </div>
  </div>
</div>


  <div class='col-lg-8 col-lg-offset-2'>

    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Survey</a></li>
      <li class=""><a href="#bootcamps" data-toggle="tab">Bootcamps</a></li>
      <li class=""><a href="#faq" data-toggle="tab">FAQ</a></li>
      <li class=""><a href="#contact" data-toggle="tab">Contact</a></li>
    </ul>
    <br>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in text-center" id="home">
        <p class="lead">Did you attend a tech bookcamp ...<p>
          <ul class='list-group'>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/hackreactor-new-160x160.png" class='img-responsive'>
            </li>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/hackerschool-140x140.png" class='img-responsive'>
            </li>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/ga-new-200x200.png" class='img-responsive'>
            </li>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/devbootcamp_com-100x100.jpg" class='img-responsive'>
            </li>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/thinkful-200x200.png" class='img-responsive'>
            </li>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/treehouse-195x195.png" class='img-responsive'>
            </li>
          </ul>
        <br>
        <p class="lead">... then ...<p>
        <button type="button" class="btn btn-primary btn-lg" ng-click="takeSurvey()"><strong>Take the Survey!</strong></button>
        <br>
        <br>
        <span class="heart glyphicon glyphicon-heart"></span>
        <p class="lead">... and spread the word ...<p>
        <br>
        <div class='col-lg-6 col-lg-offset-3'>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="padding-left:55px;">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_button_preferred_4"></a>
          <a class="addthis_button_compact"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-527555ef00575e58"></script>
        <!-- AddThis Button END -->
        </div>
      </div>


      <div class="tab-pane fade" id="bootcamps">
        <div class="text-center">
          <h3>List of Schools/Camps</h3>
          <h5>Did I miss any? Please contact me</h5>
        </div>
        <br>
        <div class='col-lg-4 col-lg-offset-2'>
          <ul>
            <li>10x</li>
            <li>AIT Learning</li>
            <li>App Academy</li>
            <li>Apprentice</li>
            <li>Bitmaker Labs</li>
            <li>Bloc</li>
            <li>Code Fellows</li>
            <li>CodeCore Bootcamp</li>
            <li>CODED Classes</li>
            <li>Coder Camps</li>
            <li>Coding Dojo</li>
            <li>Dev Bootcamp</li>
            <li>Devatory</li>
            <li>DevPoints Labs</li>
            <li>Disruption Institute</li>
            <li>Divinci Coders</li>
            <li>Epicodus</li>
            <li>Flatiron School</li>
            <li>Fullstack Academy</li>
            <li>General Assembly</li>
            <li>gSchool</li>
            <li>Hack Reactor</li>
            <li>Hackbright Academy</li>
          </ul>
        </div>
        <div class='col-lg-4'>
          <ul>
            <li>Hacker School</li>
            <li>HackerYou</li>
            <li>Hungry Academy</li>
            <li>Launch Academy</li>
            <li>LearnStreat</li>
            <li>Makers Academy</li>
            <li>MakerSquare</li>
            <li>Mobile Makers Academy</li>
            <li>Nashville Software School</li>
            <li>Polycademy</li>
            <li>Portland Code School</li>
            <li>Prosper IT Academy</li>
            <li>RefactorU</li>
            <li>Software Craftsmanship Guild</li>
            <li>Starter Leage</li>
            <li>Startup Institute</li>
            <li>Tealeaf Academy</li>
            <li>The CodEd</li>
            <li>Thinkful</li>
            <li>Treehouse</li>
            <li>Zipfian Academy</li>
          </ul>
        </div>
      </div>

      <div class="tab-pane fade" id="faq">
        <h3>What's<abbr></abbr> this all about?</h3>
        <br>
        <p>When bootcamps <a href="http://blogs.wsj.com/digits/2013/10/30/upstart-offers-a-new-way-to-finance-code-school">advertise</a> that 90% of their students are hired within 3 months at $80k what does that really mean?</p>
        <br>
        <p>The goal is to answer that question so those looking to join a bootcamp can make an informed decision.</p>
        <br>
        <p>This starts with data collection, which will then be analyzed and presented in an easy to filter manner. It will be simple for you to say see how different metrics, like technolog, location, duration of the porgram, etc. afffect the hiring process and your overall pay.</p>
        <div class="alert alert-success">
        <strong>Please note:</strong> The data will become availble after 100 surveys have been filled out.
        </div>
      </div>

      <div class="tab-pane fade" id="contact">
        <p>I love emails, good or bad. So email me.</p>
        <a class="btn btn-primary" href="mailto:michael@mherman.org">Say hi to me!</a>
        <br>
        <br>
        <p>Or, read more about me at <a href="http://www.mherman.org/about">mherman.org</a>. If you represent a bootcamp, I'd love to hear from you. Perhaps we can work together to better the development community.</p>
      </div>

    </div>

</div>

<!-- survey detail modal -->
<div class="modal fade" id="survey" tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <iframe src="https://docs.google.com/forms/d/15axXFBBcWePu4ONaegLbW-Ksw_FOWwUNNQATxdd5LnI/viewform?embedded=true" width="550" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div> 
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>

