<div class='row'>
  <div class='col-lg-12'>
    <div class='page-header text-center'>
      <h1>BootGrad</h1>
      <p class="lead">BootGrad is an open platform for collecting and analyzing data about technology bootcamps and code schools.<br> Our goal is to answer the questions, <em>"Which bootcamp should I attend?"</em> and <em>"What the hell happens after I graduate?"</em></p>
      <h3>Track. Share. Compare.</h3>
    </div>
  </div>
</div>


  <div class='col-lg-8 col-lg-offset-2'>

    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Survey</a></li>
      <li class=""><a href="#bootcamps" data-toggle="tab">Bootcamps</a></li>
      <li class=""><a href="#faq" data-toggle="tab">FAQ</a></li>
      <li class=""><a href="#contact" data-toggle="tab">Contact</a></li>
    </ul>
    <br>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in  text-center" id="home">
        <p class="lead">Did you attend a tech bookcamp ...<p>
          <ul class='list-group'>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/hackreactor-new-160x160.png" class='img-responsive'>
            </li>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/hackerschool-140x140.png" class='img-responsive'>
            </li>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/ga-new-200x200.png" class='img-responsive'>
            </li>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/devbootcamp_com-100x100.jpg" class='img-responsive'>
            </li>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/thinkful-200x200.png" class='img-responsive'>
            </li>
            <li class='list-group-item inline-block with-side-margins'>
              <img src="img/treehouse-195x195.png" class='img-responsive'>
            </li>
          </ul>
        <br>
        <p class="lead">... then ...<p>
        <button type="button" class="btn btn-primary btn-lg" ng-click="takeSurvey()"><strong>Take the Survey!</strong></button>
        <br>
        <br>
        <span class="heart glyphicon glyphicon-heart"></span>
        <p class="lead">... and spread the word ...<p>
        social network links
      </div>

      <div class="tab-pane fade" id="bootcamps">
        <p>
          10x
          AIT Learning
          App Academy
          Apprentice
          Bitmaker Labs
          Bloc
          Code Fellows
          CodeCore Bootcamp
          CODED Classes
          Coder Camps
          Coding Dojo
          Dev Bootcamp
          Devatory
          DevPoints Labs
          Disruption Institute
          Divinci Coders
          Epicodus
          Flatiron School
          Fullstack Academy
          General Assembly
          gSchool
          Hack Reactor
          Hackbright Academy
          Hacker School
          HackerYou
          Hungry Academy
          Launch Academy
          LearnStreat
          Makers Academy
          MakerSquare
          Mobile Makers Academy
          Nashville Sofyware School
          Polycademy
          Portland Code School
          Prosper IT Academy
          RefactorU
          Software Craftsmanship Guild
          Starter Leage
          Startup Institute
          Tealeaf Academy
          The CodEd
          Thinkful
          Treehouse
          Zipfian Academy
        </p>
      </div>

      <div class="tab-pane fade" id="faq">
        <h3>What's<abbr></abbr> this all about?</h3>
        <h4>According to the <a href="http://blogs.wsj.com/digits/2013/10/30/upstart-offers-a-new-way-to-finance-code-school">WSJ</a>, "Typically running about 12 weeks and costing about $12,000, [tech bootcamp]s claim job placement rates over 90% and average earnings for graduates in the $80,000 range."</h4>
        <h3>Why should you care?</h3>
        <h3>What's the end goal?</h4>
          
        The question "What are the best" is a a difficult one. It depends on your metric of the best. Some things you should be assessing best on:
        How well does the program meet your expectations? Can they back it up?
        Does it look / sound fun?
        Are they reputable? Are the engineers that are teaching the class reputable or solid developers?


        <div class="alert alert-success">
        <strong>Well done!</strong> You successfully read this important alert message.
        </div>
      </div>

      <div class="tab-pane fade" id="contact">
        <p>I love emails, good or bad. So email me. Or, read more about me at <a href="http://www.mherman.org/about">mherman.org</a>.</p>
        <h4> michael <em>@</em> mherman <em>dot</em> org</h4>
      </div>

    </div>

</div>

<!-- survey detail modal -->
<div class="modal fade" id="survey" tabindex="-1" role="dialog" aria-labelledby="survey" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">BootGrad Survey</h4>
            </div>
            <div class="modal-body">
                <!-- open question -->
                <div>
                    <h3>Which bootcamp did you attend?</h3>
                    <input type="text" ng-model="newName" placeholder="Enter a name here">
                </div>
                <!-- radio choice question -->
                <div>
                    <h3>What is your age?</h3>
                    <div class="radio">
                        <input type="radio" ng-model="newAge" value="16-25">16-25<br/>
                        <input type="radio" ng-model="newAge" value="26-35">26-35<br/>
                        <input type="radio" ng-model="newAge" value="36-45">36-45<br/>
                        <input type="radio" ng-model="newAge" value="46+">46+<br/>
                    </div>
                </div>
                <!-- toggle choice question -->
                <div>
                    <h3>Will you buy me lunch?</h3>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-model="newDinner" btn-radio="'Yes'">YES</button>
                        <button type="button" class="btn btn-primary" ng-model="newDinner" btn-radio="'No'">NO</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addSurvey()">Send results</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>

